<ion-view view-title="About CMC">
    <ion-content overflow-scroll="true">
         <iframe style="width:100%;min-height:100%" src="https://mp.weixin.qq.com/s?__biz=MjM5NDI1MDE2NA==&mid=405444645&idx=1&sn=2f5b6db69fe6d90a9630458a165a5205&scene=1&srcid=0409YkWIhoNXmyWnglwwKWRr&key=b28b03434249256b278533132b42642d0badc27e72e4c3a9554ca48e7b60b96b3e14fd7fc1f750a365714069610cded5&ascene=0&uin=OTAyOTY5ODQw&devicetype=iMac+MacBookPro11%2C3+OSX+OSX+10.10.5+build(14F27)&version=11020201&pass_ticket=nRZtDy4C4glWzxAAd8EyP1LoQwvD5QlQ7%2BKi100cUfGuCybJzAOK%2BcCirryyCd7L"></iframe>
    </ion-content>
</ion-view>