<!--z
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-item-hide">
    <ion-tab title="Items"  icon="ion-home" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-log-in" href="#/tabs/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Event" icon="ion-ios-list-outline" href="#/tabs/event">
        <ion-nav-view name="tab-event"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Music" icon="ion-music-note" href="#/tabs/music">
        <ion-nav-view name="tab-music"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sponsor" icon="ion-bag" href="#/tabs/sponsor">
        <ion-nav-view name="tab-sponsor"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Info" icon="ion-information" href="#/tabs/info">
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>
</ion-tabs>

<ion-floating-menu has-footer="false" menu-color="#33cd5f" menu-open-color="#33cd5f" icon="ion-plus" icon-color="#fff">
<!--     <ion-floating-item icon="ion-camera" button-color="#2AC9AA" icon-color="#fff" click="menu.go('tab.dashboard')"></ion-floating-item> -->
    <ion-floating-item icon="ion-home" text-class="menu-text" button-color="#33cd5f" icon-color="#fff" click="menu.go('tab.event')"></ion-floating-item>
    <ion-floating-item icon="ion-person" text-class="menu-text" button-color="#33cd5f" icon-color="#fff" click="menu.go('tab.profile')"></ion-floating-item>
    <ion-floating-item icon="ion-music-note" text-class="menu-text" button-color="#33cd5f" icon-color="#fff" click="menu.go('tab.music')"></ion-floating-item>
<!--     <ion-floating-item icon="ion-bag" button-color="#33cd5f" icon-color="#fff" click="menu.go('tab.sponsor')"></ion-floating-item>
 -->    <ion-floating-item icon="ion-information" text-class="menu-text" button-color="#33cd5f" icon-color="#fff" click="menu.go('tab.info')"></ion-floating-item>
</ion-floating-menu>


